.simvision/
waves.shm/
xcelium.d/
xrun.history
xrun.key
xrun.log
simvision*.diag
/.dvt
/.project
dvt_build.log
.vscode
rtl/misc/spi_flash_memory/spi_mem.sv
rtl/soc/memories/boot_mem.sv
sw/build
tools/__pycache__
*.log*
*.logv
*.cmd
*.gz
*.pbs*
*.rpt
